@import '../../utils/_variables.scss';

.t_about {  
  &__intro {
    padding: 0 1em;
    margin-bottom: 3em;
    color: $blue;
    font-family: 'PT Mono';
    @media (min-width: $break--med) {

    }
  }
}
