@import '../../utils/_variables.scss';
@import '../../utils/_mixins.scss';

.c_badge {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid $turquoise;
  color: $turquoise;
  @media (min-width: $break--big) {
    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &:nth-of-type(odd) {
      .c_badge__content {
        flex-direction: row-reverse;
        .c_badge__text {
          @media (min-width: $break--big) {
            padding-right: 3em;
          }
        }
      }
    }
    &:nth-of-type(even) {
      @media (min-width: $break--big) {
        .c_badge__text {
          text-align: right;
          .u_mega-bullet-list {
            li p {
              padding-left: 0;
              padding-right: 1.5em;
              &:before {
                left: auto;
                right: 0;
              }
            }
          }
        }
        .c_badge__image {
          margin-right: 3em;
        }
      }
    }
  }
  &__text {
    .text__title {
      &__number {
        display: block;
        font-size: 0.9em;
      }
      &__name {
        font-size: 1em;
      }
      @media (min-width: $break--med) {
        &__name {
          font-size: 1.3em;
        }
      }
    }
  }
  &__image {
    margin-bottom: 1em;
    figure {
      text-align: center;
      font-family: $heading-font;
      img {
        display: inline-block;
        margin: 0 0 1em;
      }
      figcaption {
        font-size: 2em;
      } 
    }

  }
  &__criteria {
    margin-top: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease-in-out;
    h3 {
      margin: 1em 0;
    }
    .u_mega-bullet-list {
      li p:before {
        background-color: $turquoise;
      }
    }
    &--open {
      display: block;
      visibility: visible;
      max-height: 15em;
    }
  }
  &__toggle-criteria-button {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border: 1px solid $blue;
    background-color: transparent;
    color: $blue;
    font-size: 1em;
    font-family: $heading-font;
    cursor: pointer;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    &:focus {
      outline: 3px solid $purple;
    }
    @media (min-width: $break--med) {
      width: auto;
      &:hover {
        background-color: $blue;
        color: $purplesuperdark;
      }
    }
  }
}