@import '../../utils/_variables.scss';
@import '../../utils/_mixins.scss';

.t_badges {
  .page-intro {
    padding: 0 $gutter;
    margin: 4em 0 2em;
    color: $turquoise;
    p {
      margin: 0 auto 2em;
      max-width: 600px;
      width: 90%;
      text-align: center;
    }
    &__actions {
      text-align: center;
      .c_button--change-view {
        padding: 0.5em 1.5em;
        margin: 0 0.5em;
      }
      .c_button--active {
        background-color: $blue;
        color: $purplesuperdark;
      }
      @media (min-width: $break--med) {
        text-align: right;
        .c_button--change-view {
          margin-left: 1em;
        }
      }
    }
  }
  .badge-list {
    display: block;
    margin-top: 4em;
    // transition: all 200ms ease-in;
    .c_badge {
      // transition: width 200ms ease-in;
    }
    padding: 0 1.5em;
    &--list {
    }
    &--grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .c_badge {
        // width: 33%;
        // border: 2px solid pink;
      }
    }
    @media (min-width: $break--big) {
      padding: 0;
    }
  }
}