@import '../../utils/_variables.scss';

.c_home {
  text-align: center;
  h2 {
    margin-bottom: 1em;
  }
  .blinking-eyes {
    margin-top: 2em;
    // border: 1px solid red;
    >span {
      display: inline-block;
      position: relative;
      margin: 0 0.4em;
      width: 1em;
      height: 1em;
      background: #fff;
      border-radius: 50%;
      animation: blink 10s infinite;
      &:before {
        position: absolute;
        top: 30%;
        left: 40%;
        width: 0.4em;
        height: 0.4em;
        content: '';
        background: #000;
        border-radius: 50%;
      }
      &:last-of-type {
        &:before {
          left: 20%;
        }
      }
    }
  }
}

.c_palette {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    padding: 1em;
    width: calc(100% / 2);
    @media (min-width: $break--med) {
      width: calc(100% / 3);
    }
    &--dark {
      color: #fff;
    }
  }
}