@import '../../utils/_variables.scss';

.c_header {
  padding: 2em 0;
  margin-bottom: 2em;
  text-align: center;
  overflow-x: hidden;
  border: 1px solid darken($blue, 35%);
  h1 {
    font-size: 2.4em;
    color: $blue;
    font-family: $ariot-font;
    font-weight: normal;
  }
  &--darkblue {
    background-color: $purplesuperdark;
    h1 {
      color: $blue;
    }
  }
  &--turquoise {
    background-color: $turquoise;
    h1 {
      color: $blue;
    }
  }
  @media (min-width: $break--med) {
    h1 {
      font-size: 4em;
      width: auto;
    }
  }
}