// $header-font: 'ZCOOL KuaiLe', cursive;
$header-font: 'Special Elite', cursive;

$brown--dark: #78401f;
$brown--med: #a96035;

$orange: #fa9d4a;
$salmon: #f17771;
$pink: #c6668e;
$purple: #876193;
$blue: #4d587e;
$darkblue: #2f4858;
$darkblue2: #0e181e;
$nearblack: #090b0c;


$break--mini: 440px;
$break--med: 767px;
$break--big: 900px;