// $header-font: 'ZCOOL KuaiLe', cursive;
$header-font: 'Special Elite', cursive;

$brown--dark: #78401f;
$brown--med: #a96035;

$orange: #fa9d4a;
$salmon: #f17771;
$pink: #c6668e;
$purple: #876193;
$blue: #4d587e;
$darkblue: #2f4858;
$darkblue2: #0e181e;
$nearblack: #090b0c;


$break--mini: 440px;
$break--med: 767px;
$break--big: 900px;

$purplesuperdark: #0b0323;
$black: #002233;
$purple: #a3a9ff;
$darkpurple: #704a7b;
$yellow: #ffffbf;
$yellow-2: #eff088;
$greygreen: #c4e2e8;
$blue: #4bc1da;
$turquoise: #4bdac7;
$turquoise-2: #a3fff3;
$pink: #df3692;


$heading-font: 'PT Mono', monospace;