@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  // font-size: 62.5%;
  font-family: 'Noto Sans HK', sans-serif;
  font-family: 'Open Sans', sans-serif;
  // background: #FF8008;
  // background: -webkit-linear-gradient(to bottom, #FFC837, #FF8008);
  // background: linear-gradient(to bottom, #FFC837, #FF8008);
  // background: $darkblue2;
  // color: #fff;
  background-color: $purplesuperdark;
}

.wrapper {
  // padding: 0 0.5em;
  
}

.g_center {
  margin: 0 auto;
  max-width: 80em;
  @media (min-width: $break--med) {
    // padding: 0 1em;
    width: 90%;
  }
}

h1,
h2,
h3 {
  font-family: $heading-font;
}

h2 {
  margin-bottom: 1.6em;
}

p {
  margin-bottom: 1em;
}
